<div id="year">
	<p><%= year -%></p>
</div>
<div id="cal">
    <%wday=1%>
    <table>
    <tr>
    	<td>Mon</td>
	<td>Tue</td>
	<td>Wed</td>
	<td>Thu</td>
	<td>Fri</td>
	<td>Sat</td>
	<td>Sun</td>
    </tr>
    <% firstday=@currmonth.values[0]-1 %>
	<%if firstday == -1  %>
	<% firstday=6%>
	<% end %>
    <% for d in 0...firstday do %>
        <%wday +=1%>
	<td></td>
    <%end%>
    <% @currmonth.each  do |key, value| %>
   	<% if wday<7 %> <td><%= key.day %><% wday+=1 %> </td>
    	<% else %> <td><%= key.day %></td><%wday=1%></tr>
    	<%end%>
    <% end %></tr></table></div>
    <div id="edit">
    <%= form_with(url: edit_month_path(params[:id]), method: :get, local: true)  do |form| %>
     <p>
	<%= form.label :Change_year? %><br>
     </p>
    <p>
	
      <%= submit_tag("change") %>
    </p>
  <% end %>
    </div> 
